<%- include('../partials/header.ejs') %> 


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center  main-nav">
    <header class="masthead mb-auto">
    <div class="inner">
      <div class="w-100 d-flex justify-content-center ">
        <div class="container-fluid m-0">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <h3 class="masthead-brand">Halpp</h3>
            </div>
            <div class="col-sm-1">
              <a class="nav-link" href="/log-in"><small class="align-self-end">Log In</small></a>
            </div>
          </div>
        </div>
        
        
      </div>
      
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link main-nav-link" href="/">Home</a>
        <a class="nav-link main-nav-link" href="/register">Register</a>
        <a class="nav-link main-nav-link" href="/jobs/1">View Jobs</a>
        <!-- <a class="nav-link main-nav-link" href="#">Log In</a> -->
      </nav>
    </div>
  </header>
</div>


<%- include('../partials/footer.ejs') %> 