<%- include('../partials/header.ejs') -%> 



    <div class="btn-group mt-2 p-2" role="group"                  aria-label="Button group with nested dropdown">
      <!-- <button type="button" class="btn btn-secondary">1</button>
      <button type="button" class="btn btn-secondary">2</button> -->

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn  profile-log-out-btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Jobs
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/jobs/details/<%= userId%>?details=applied">Jobs Applied</a>
          <a class="dropdown-item" href="/jobs/details/<%= userId%>?details=posted">Jobs Posted</a>
        </div>
      </div>
      <a class="btn btn-secondary" href="/log-out">Log Out</a>
    </div>
          

<%- include('../partials/footer.ejs') -%> 