<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %> 

<div class="container-fluid">
  <div class="row">


    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <h1>Welcome <%= email %>!</h1>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>


  </div>
</div>



<%- include('../partials/footer.ejs') %> 