<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %> 


  <div class="container-fluid">
    <div class="row">
      
      <section class="col p-0 pt-5 hero">
        <!-- <div class=" "> -->
          <div class="container-fluid mt-md-5 pt-md-5 cards">
            <div class="col-sm-12 text-center">
              <div class="pt-3 mt-3 pl-sm-3 pr-sm-3 pl-md-5 pr-md-5">
                <h1 class="hero-heading mt-sm-5 pt-sm-5 pt-md-5 mt-md-5">What's this about?</h1>
                <p class="hero-para pt-sm-2 mt-5 p-lg-4 text-left">Its about people coming together to help one another with tasks big or small. Maybe you feel generous with your time today or perhaps you feel like giving back to soceity? Or maybe you're just loaded with work or have your weekly life admin piling up and need help getting something done. Come on to the site and search / ask for help from people around you.</p>
              </div>
              
            </div>
          </div>
        <!-- </div> -->
      </section>
    </div>

        <div class="row">
      
      <section class="col p-0 pt-5 hero-section-2">
        <!-- <div class=" "> -->
          <div class="container-fluid mt-md-5 pt-md-5 cards">
            <div class="col-sm-12 text-center">
              <div class="pt-5 mt-5 pl-sm-3 pr-sm-3 pl-md-5 pr-md-5">
                <h1 class="hero-heading mt-sm-3 pt-sm-3 pt-md-5 mt-md-5">How it works?</h1>
                <p class="hero-para mt-5 mb-5 text-left">Its about people coming together to help one another with tasks big or small. Maybe you feel generous with your time today or perhaps you feel like giving back to soceity? Or maybe you're just loaded with work or have your weekly life admin piling up and need help getting something done. Come on to the site and search / ask for help from people around you.</p>
                <div class="row mt-sm-5 pt-sm-4 pt-md-5 mt-md-5">
                  <div class="col-sm-12 col-md-4">
                    <h3 class="">Step 1</h3>
                    <p>Create an account or login</p>
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <h3 class="">Step 2</h3>
                    <p>List or search for jobs</p>
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <h3 class="">Step 3</h3>
                    <p>Finish task and get paid</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        <!-- </div> -->
      </section>
    </div>
  </div>


<%- include('../partials/footer.ejs') %> 